* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-font: "Press Start 2P", system-ui;
  --background-color: #9ec92d;
  --score-background-color: #f2c244;
  --general-color: #000000;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
.parent {
  background-color: var(--background-color);
  margin: 0 auto;
  width: 80%;
  padding: 4px 2rem;
}
header {
  display: flex;
  justify-content: space-between;
}
.score {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
